version: '3.8'
services:
  db:
    image: postgres:15
    container_name: urbanburger-db
    environment:
      POSTGRES_DB: urbanburger
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    restart: always
